export SNS_TOPIC_ARN=arn:aws:sns:eu-west-1:438871231133:Shared-Events-ENV_NAME-Topic
export SQS_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/438871231133/Core-Events-ENV_NAME-Q

export AWS_PROFILE=sonarcloud-dev-admin
export AWS_REGION=eu-west-1
