env_name=...

export AWS_PROFILE=...
export AWS_REGION=...
export AWS_ACCOUNT=...

export "SNS_TOPIC_ARN=arn:aws:sns:${AWS_REGION}:${AWS_ACCOUNT}:Shared-Events-${env_name}-Topic"
export "SQS_QUEUE_URL=https://sqs.${AWS_REGION}.amazonaws.com/${AWS_ACCOUNT}/Core-Events-${env_name}-Q"
export "TABLE_NAME=Shared-Status-${env_name}"
