env_name=...

export AWS_PROFILE=...
export AWS_REGION=...
export AWS_ACCOUNT=...

export sns_topic_name="Shared-Events-${env_name}-Topic"
export SNS_TOPIC_ARN="arn:aws:sns:${AWS_REGION}:${AWS_ACCOUNT}:${sns_topic_name}"

export sqs_queue_name="Autoscan-Worker-${env_name}-Q.fifo"
export SQS_QUEUE_URL="https://sqs.${AWS_REGION}.amazonaws.com/${AWS_ACCOUNT}/${sqs_queue_name}"

export TABLE_NAME="AnalysisStatus-StatusTable-${env_name}"
